
.site-header {
  background: #fff;
  padding: 0;
  height: 72px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #f0f0f0;
}

.header-inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 0;
  color: #3563E9;
  font-weight: 700;
  font-size: 22px;
}
.search-wrapper {
  position: relative;
  max-width: 420px;
  width: 100%;
}

.search-input {
  width: 100%;
  height: 44px;
  padding: 0 48px;
  border-radius: 999px;
  border: 1px solid #e6efff;
  outline: none;
  font-size: 14px;
  color: #4b5563;
  background: #fff;
}

.search-input::placeholder {
  color: #9ca3af;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.search-icon.left {
  left: 16px;
}

.search-icon.right {
  right: 16px;
}

.search-icon img {
  width: 18px;
  height: 18px;
}
.header-right-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 768px) {

  .site-header {
    height: auto;
    padding: 16px 0;
  }

  .header-inner {
    flex-direction: column;
    align-items: stretch;
    gap: 14px;
  }
  .header-icons {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: flex-end;
  }

  .header-right-icons span {
    display: none;
  }

  .header-right-icons .ant-avatar {
    display: flex;
  }

  /* LOGO ROW */
  .header-logo {
    order: 2;
    font-size: 22px;
    text-align: left;
  }

  .header-inner > a {
    width: 100%;
  }

  /* SEARCH ROW */
  .search-wrapper {
    order: 3;
    max-width: 100%;
    width: 100%;
    margin: 0;
    position: relative;
  }

  .search-input {
    height: 44px;
    font-size: 13px;
    padding-right: 56px;
    width: 78%;
    border-radius: 11px;

  }

  .search-icon.right {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #e6efff;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-icon.right img {
    width: 18px;
    height: 18px;
  }
} 
