.details-layout {
  display: flex;
  background: #f6f7f9;
}

.details-content {
  margin-left: -145px;
  padding: 30px;
  width: 100%;
}

/* TOP */
.details-top {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 30px;
}

/* LEFT BLUE */
.details-left {
  background: linear-gradient(135deg, #3563e9, #6c8cff);
  color: #fff;
  padding: 25px;
  border-radius: 16px;
}

.left-desc {
  font-size: 14px;
  opacity: 0.9;
}

.main-car-img {
  width: 100%;
  margin: 20px 0;
}

.thumbs {
  display: flex;
  gap: 12px;
}

.thumbs img {
  width: 90px;
  padding: 6px;
  background: #fff;
  border-radius: 10px;
}

/* RIGHT */
.details-right {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.rating-row {
  color: #90a3bf;
  margin: 10px 0;
}

.desc {
  color: #596780;
}

.specs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 20px 0;
}

.specs span {
  font-weight: 600;
}

/* PRICE */
.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.old-price {
  color: #90a3bf;
  text-decoration: line-through;
  font-size: 14px;
}

/* REVIEWS */
.reviews {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  margin-top: 40px;
}

.count {
  background: #3563e9;
  color: #fff;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 12px;
}

/* SECTIONS */
.section {
  margin-top: 50px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.view {
  color: #3563e9;
  cursor: pointer;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
