.pickupdrop-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  width: 100%;
  max-width: 720px;
}

/* Row */
.pd-row {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Title */
.pd-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pd-title h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

/* Radio dot */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #c3d4e9;
}

.dot.active {
  background: #3563e9;
  border-color: #3563e9;
}

/* Fields */
.pd-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.pd-fields label {
  font-size: 12px;
  color: Plus Jakarta Sans;
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
}

.ant-select,
.ant-picker {
  width: 100%;
  border: none;
}

/* Divider */
.divider {
 
  background: #eaeaea;
  margin: 34px 0;
}

/* Mobile */
@media (max-width: 768px) {
  .pd-fields {
    grid-template-columns: 1fr;
    
  }

/* MOBILE ONLY (RESPONSIVE)*/


  /* Select textbox */
  .ant-select-selector {
    background-color: #F6F7F9 !important;
    border: none !important;
    border-radius: 8px;
  }

  /* Select text */
  .ant-select-selection-item {
    color: #1a1a1a;
  }

  /* Select placeholder */
  .ant-select-selection-placeholder {
    color: #F6F7F9;
  }

  /* DatePicker textbox */
  .ant-picker {
    background-color: #F6F7F9 !important;
    border: none !important;
    border-radius: 8px;
  }

  /* DatePicker text */
  .ant-picker-input > input {
    color: #cac5c5;
  }

  .ant-picker-input > input::placeholder {
    color: #F6F7F9;
  }
}
