* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
}
.ant-layout {
  margin: 0;
}

.ant-layout-content {
  padding: 0;
}
/* index.css */
.auth-layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}
